In [29]:
x = 499
print(x)

499

In [ ]:
a = 6.0
print(type(a))
%whos

a + b = c

In [ ]:
%whos

In [ ]:
print(not(2!=3))
a= 3.89677777777777732324343
b = 53
print(round(a,6))
print(divmod(b , 7))
type(b)

In [ ]:
b = float(input("enter a number :" ))
a = int(input())
b = int(input())

if a > b :
 print(a)
 print("i m inside if ")
else :
 print(b)
 print("i m inside else ")

In [ ]:
a = 20
b = 32
print("a") if a > b else print("=") if a == b else print ("b")

In [ ]:
x = float(input("number : "))
if x > 0 :
    y = round(x)
    if y > x:
     intPro = y - 1 
    else :
     intPro = y
    print(intPro)	
else:
    if y > x :
        intPro = y+1
    else:
        intPro =  y
if intPro%2 == 0 :
 print("EVEN")
else : 
    print("ODD")

In [ ]:
n = float(input("number"))
i = 1
while (i < n) :
 print(i)
 i += 1
 i = 1 % 2
print("done")

In [ ]:
i = 10 
j = 1
while True :
    if i%9 == 0 :
     print("inside if")
     break
     print('break')
    else :
     print("inside else")
        
     i = i + 1
print("Done")

In [ ]:
i = 10 
j = 1
while True :
    if i%9 != 0 :
        i +=1
        continue
        print("something")
        print("something else")
        break
print("Done")

In [ ]:
i = 10 
j = 1
while True :
    if i%9 != 0 :
        i +=1
        continue
        print("something")
        print("so  mething else")
        break
print("Done")

In [ ]:
l = []
for i in range(0,30,4):
    print(i)
    l.append(i**2)
print(l)

# k = {'apple' , 3.43 , 'jhan'}
# for x in k :
#     print(x)
k = {'name' : "khan" , 'address' : "bmk" , 'No' : "09"}
for x in k :
    print(x,k[x])

In [16]:
list=[2, 1,-5,4,7,9,8] 
for k in range(len(list)):
  m = list[k]
  idx = k
  c = k
  for a in range(k , len(list)):
    if list[a] < m:
         m=list[a]
         idx = c
    c += 1      

  temp = list[k]
  list[k] = m 
  list[idx] = temp
print(list)

[-5, 1, 2, 4, 7, 8, 9]

In [22]:
def funExp():
    print("the task is assigned")
    print("the task is prcessing ")
    print("the task is completed ")
funExp()

def funExp1():
    '''this function is doing nothing except printing a message. 
    that is 'hello' '''
    print("hello")
help(funExp1)

the task is assigned
the task is prcessing
the task is completed
Help on function funExp1 in module __main__:

funExp1()
    this function is doing nothing except printing a message.
    that is 'hello'

In [38]:

def funArg(msg):
    """ the function prints the msg supplied by the user in string and if it
    is anything else it will print not string """
    
    if isinstance(msg , str):
        print(msg)
    else : 
        print("ur input is not string")
        print("here is what u wrote " , msg)
# funArg("this is a message")

funArg(23)

ur input is not string
here is what u wrote  23

In [47]:
def funPow(a,b) :
    """this fun computes power"""
    r = a**b
    print(r)
funPow(4,3)
funPow?

64

Signature: funPow(a, b)
Docstring: this fun computes power
File:      c:\users\hp\appdata\local\temp\ipykernel_13052\1836024069.py
Type:      function

In [13]:
def checkArg(a,b,c):
    """this check arg is provide in valid state and expecting only 3 arg"""
    if isinstance(a,(int , float)) and isinstance ( b ,(int , float)) and isinstance(c , (int , float)):
      print(a+c*b)
    else : 
        print("error") 
        
checkArg(a = 4, b = 2 , c =  9 )

22

In [11]:
def add(a,b):
     sum = a + b
     return sum
d = add(6,5)     
print(d)

def r():
    a = 5 
    b = 7
    d = "somethinf"
    return a ,b, d

q,w,e, = r()
print(q,w,e)

11
5 7 somethinf

In [1]:
def add(*args):
    sum = 0
    for i in range(len(args)):
        sum += args[i]
    return sum
add(23,4,34345,34,34)

34440

In [36]:
def checkar1(*a):
    for i in a:
        if not(isinstance(i, (int , float))) :
            return False
    else: 
        return True
checkar1(3,23,45,65,7)

True

In [4]:
def checkar2(L):
    for i in L:
        if not(isinstance(i, (int , float))) :
            return False
    return True
print(checkar2([3,23,45,65,7]))

True

In [2]:
def findmini(L ,startIndex):
     m = L[startIndex]
     idx = startIndex
    
     for i in  range(startIndex , len(L)):
         x = L[i]
         if x<m:
           m = x  
           idx = i
         else :
          pass
     return m , idx
a , b  = findmini([843,734,45,46,67,576,] , 0)   
print (a ,b)

45 2

In [8]:


def swapValue(L ,idx1 , idx2) :
    temp = L[idx1]
    L[idx1] = L[idx2] 
    L[idx2] = temp
    return L

# L = [34,55,78,78]
# q = swapValue(L , 1, 3)
# print(q)

def sorting(L):
       if not(checkar2(L)):
           print("Error : List does not contain numeric values")
           return  
       else :
           c = 0
           for x in L:
                m , idx = findmini(L,c)
                L = swapValue(L , c , idx)
                c += 1      
       return L 
li =  sorting([34,45,65,23,12,4,5])   
print(li)

[4, 5, 12, 23, 34, 45, 65]

In [9]:
a = "  how are you soing   "
print(a)
90

  how are you soing

In [4]:
  print("We are learning \"string \' here")
print("c:\name\c")
print(r"c:\name\c")

We are learning "string ' here
c:
ame\c
c:\name\c

Data Structure

In [2]:
 L = [23,34,3343,"khan" , 23]
 T = (1,2,3,4,"name" ,23)
 S = {1,34,443,"is" ,32}
 D = {"name" : "khan" , 1 : "one" , 2:"Two" , "Age" : 20}
# print("The type of L : " ,type(L) , L )
# print("The type of T : " ,type(T) , T )
# print("The type of S : " ,type(S) , S )
# print("The type of D : " ,type(D) , D )

 # print(D[2])
 # print(D["Age"])
 # print(L[2])
 # print(T[4])
L =  L  + ["new" , "is added"]
L.append(323)
print(L)
T2 = (34,4,66,"sdf")
T = T + T2
print(T)
S.update({2387,"SET"})
print(S)
D["add"]  = "khan"
D2 = {"A" : "AA" , "D" : "Doct"}
D.update(D2)
print(D)

# print( L.count(34))
# L.count?

[23, 34, 3343, 'khan', 23, 'new', 'is added', 323]
(1, 2, 3, 4, 'name', 23, 34, 4, 66, 'sdf')
{32, 1, 34, 2387, 'is', 'SET', 443}
{'name': 'khan', 1: 'one', 2: 'Two', 'Age': 20, 'add': 'khan', 'A': 'AA', 'D': 'Doct'}

In [6]:
l3 = [x**2 for x in range(10)]
l3

s3 = {x**2 for x in range(0,20,3)}
s3

{0, 9, 36, 81, 144, 225, 324}

In [16]:
one_hundreth = 1e-4
one_hundreth

0.0001

In [28]:
str = """Debugger warning: It seems that frozen modules are being used, which may
0.00s - make the debugger miss breakpoints. Please pass -Xfrozen_modules=off
0.00s - to python to disable frozen modules.
0.01s - Note: Debugging will proceed. Set 
PYDEVD_DISABLE_FILE_VALIDATION=1 to disable this validation.
I 2024-02-14 21:45:23.302 ServerApp] Kernel started: 91e8f96d-85b7-44d0-8981-e5081cc5187a
0.01s - Debugger warning: It seems that frozen modules are being used, which may
0.00s - make the debugger miss breakpoints. Please pass -Xfrozen_modules=off
0.00s - to python to disable frozen modules."""
len(str)
str[0:10 ]

'Debugger w'

In [37]:
week = "   web , sun  , wed , thur , fri , sat , Tie   "
week.strip( )

'web , sun  , wed , thur , fri , sat , Tie'

In [42]:
cost = 30.5
tax = 3.5
profit = 10
ano = "The cost of shoes is ${} , taxes are ${} , and price is ${}"
ano.format(cost , tax , cost+tax+profit)

'The cost of shoes is $30.5 , taxes are $3.5 , and price is $44.0'

In [29]:
import numpy as np
l = np.arange(10)
l[::-1]
my_list = [1, 2, 3, 4, 5]
my_list.reverse()
print(my_list)

[5, 4, 3, 2, 1]

In [29]:
%%time
# Factorial 
result = 1
i = 1
while i<=10:
 result =result * i
 i += 1
print("The Factorial of {} is {}".format( i - 1, result))

The Factorial of 10 is 3628800
CPU times: total: 0 ns
Wall time: 0 ns

In [28]:
def filter_odd(num_list):
 list = []
 for num in num_list:
     if num % 2 != 0:
         list.append(num)
 return list

filter_odd([1,2,4,5,6,7,8,9])

[1, 5, 7, 9]

In [10]:
import pandas as pd
df = pd.read_csv(r'C:\Users\Hp\Python\Practice1.csv')
df

        CITY  RETURN FLIGHT   HOTEL/DAY  WEEKLY CAR RENTAL
0      Paris             200         20                200
1     London             250         30                130
2  Islamabad             170         15                 80
3      Dubai             370         10                190
4    NewYork             400         25                230

Which city should we visit to spend the least amount of time?

How does the answer change if we change the duration to 4 ,10 or 2 weeks?

If our total budget for the trip is 1000$ which city we visit to maximizd the duration of our trip? and for minize too.

How does the answer to the prevous questions change if our budget is 600 ,2000 0r 1500?

In [1]:

def cost_of_trip(C , RF , HD , CR):
    result = (RF + HD + CR)
    print("The total cost for trip to ${} is ${}".format(C , result))

cost_of_trip('London' , 10,202,30)

The total cost for trip to $London is $242

In [26]:
import pandas as pd
dict = {
    'date' : ['2024-04-20','2024-04-21','2024-04-22','2024-04-23','2024-04-24',
            '2024-04-25','2024-04-26','2024-04-27'] ,
    'deaths':[1,9,5,3,6,7,8,2],
    'newCases':[234,435,632,378,435,134,123,93]   
}
# pd.to_datetime('date')
dict['date'][2:4]

['2024-04-22', '2024-04-23']

In [2]:
# Task 1: Create an empty dictionary
inventory = {}

# Task 2: Store product details in variables
product_name = "Mobile phone"
product_quantity = 5
product_price = 20000
product_release_year = 2020

# Task 3: Add the first product details to the inventory using descriptive keys
inventory["product_name"] = product_name
inventory["quantity"] = product_quantity
inventory["price"] = product_price
inventory["release_year"] = product_release_year

# Task 4: Store the second product details in variables
product_name = "Laptop"
product_quantity = 10
product_price = 50000
product_release_year = 2023

# Task 5: Add the second product details to the inventory using descriptive keys
inventory["second_product_name"] = product_name
inventory["second_quantity"] = product_quantity
inventory["second_price"] = product_price
inventory["second_release_year"] = product_release_year

# Print the inventory dictionary to see the results
print(inventory)

{'product_name': 'Mobile phone', 'quantity': 5, 'price': 20000, 'release_year': 2020, 'second_product_name': 'Laptop', 'second_quantity': 10, 'second_price': 50000, 'second_release_year': 2023}

In [31]:
%time

from bs4 import BeautifulSoup
import requests
import csv

url = 'https://www.w3schools.com/html/'
response = requests.get(url)

soup = BeautifulSoup(response.content, 'html.parser')

data_list = soup.find_all('p', class_='data')

scraped_data = []
for item in data_list:
    Heading = item.find('h2').text.strip()
    Explanation = item.find('p').text.strip()
    scraped_data.append({'Title': Heading, 'Description': description})

with open('scraped_data.csv', 'w', newline='') as csvfile:
    fieldnames = ['Title', 'Explanation']
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames)
    
    writer.writeheader()
    for data in scraped_data:
        writer.writerow(data)

CPU times: total: 0 ns
Wall time: 0 ns